.authModule {
	.loginForm, .registrationForm {
		width: 350px;
		margin: 40px auto;
		overflow: hidden;
	}

	label, input {
		display: block;
		font-size: 17px;
		margin: 10px auto 0;
	}

	label {
		width: 340px;
	}

	input {
		padding: 5px;
		width: 330px;
	}

	button.login {
		float: right;
		margin-top: 10px;
	}

	.providers {
		clear: both;
		margin-top: 10px;
		overflow: hidden;
	}

	.twitterAuth {
		float: right;
	}

	.errorList {
		background: #fdf7f7;
		border: 2px solid #eed3d7;
		color: #b94a48;
		padding: 10px 15px;
		margin: 0;
	}

	.errorList ul {
		padding: 0 0 0 10px;
	}
}
