.visModule {

	.visContainer {
		float: left;
		height: 100%;
		width: calc(~"100% - 262px");
	}

	.vis {
		height: 100%;
		width: 100%;
	}

	.sidebar {
		border-left: 2px solid #f2f2ea;
		float: right;
		height: 100%;
		overflow-y: scroll;
		width: 260px;
	}

	.sidebar > div {
		padding: 5px;
	}

	.inquiryForm {
		overflow: hidden;

		fieldset {
			border: 1px solid #f2f2ea;
			border-radius: 4px;
			padding: 5px;
			margin-bottom: 10px;
			margin-top: 3px;
		}

		label {
			display: inline-block;
		}

		input[type="text"], input[type="date"] {
			border: 1px solid #87826a;
			border-radius: 4px;
			font-size: 16px;
			padding: 4px;
		}

		fieldset.textFilter {
			input[type="text"] {
				width: calc(~"100% - 12px");
			}
		}

		fieldset.dateFilter {
			> label {
				display: inline-block;
				width: 20%;
			}
			input[type="date"] {
				width: 70%;
			}
		}

		fieldset.sentimentFilter {
			label {
				width: 200px;
			}
		}

		fieldset.geoFilter {
			label {
				width: 70px;
			}

			input[type="text"] {
				margin-left: 5px;
				width: 60px;
			}

			select {
				margin-left: 5px;
			}
		}

		.button {
			color: white;
			cursor: pointer;
			float: right;
			margin-bottom: 8px;
			margin-left: 15px;
		}

		.clearButton {
			background: #d9534f;
		}

		.submitButton {
			background: #428bca;
		}
	}
	.domain {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
}
